* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

@font-face {
    font-family: 'NotoSans';
    src: url('../fonts/NotoSans-Regular.ttf') format('truetype');
    src: local('../fonts/NotoSans-Regular.ttf') format('truetype');
    
}


html,
body {
  width: 100%;
  height: 100%;
}

body {
    font-family: 'NotoSans';
}

/*login screen */

.container-login { 
    background: url("../img/loginbgr.svg");
    background-size: auto;
    background-color: #EBEBEB;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    white-space: nowrap;
}

.login-content-container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    white-space: nowrap;

    position: absolute;
    height: 254px;
    /*left: calc(50% - 358px/2 - 1px); */
    top: calc(50% - 254px/2 + 9px);

    background: rgba(255, 255, 255, 0.41);
    
}
#txtEmailLogin {
    border: none;
    transition: opacity 0.3s;
    position: absolute;
    width: 240px;
    height: 50px;
    left: calc(50% - 250px/2 + 0.5px);
    top: calc(50% - 50px/2 - 50.5px);
    background: rgba(39, 174, 96, 0.43);
    border-radius: 50px;
    padding-left: 10px;
    color: #FFFFFF;
}

#txtPasswordLogin {
    border: none;
    transition: opacity 0.3s;
    position: absolute;
    width: 240px;
    height: 50px;
    left: calc(50% - 250px/2 + 0.5px);
    top: calc(50% - 50px/2 + 11.5px);
    background: rgba(39, 174, 96, 0.43);
    border-radius: 50px;
    padding-left: 10px;
    color: #FFFFFF;
}

::placeholder {
    
    color: #FFFFFF;
    opacity: 1;
}

input:hover {
  opacity: 1;
}

input:focus {
  outline: none;
}

.account {
    text-decoration: none;
    position: absolute;
    width: 238px;
    height: 20px;
    left: calc(50% - 238px/2 + 1px);
    top: calc(50% - 20px/2 + 115px);
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 13px;
    color: #008B9E;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    
}

.account:hover, .frg-passwd:hover {
  color: black;
}

.account:visited, .frg-passwd:visited {
  color: #e74c3c;
}

.frg-passwd {
    text-decoration: none;
    position: absolute;
    width: 238px;
    height: 20px;
    left: calc(50% - 109px/2 + 64.5px);
    top: calc(50% - 20px/2 + 115px);
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 13px;
    color: #008B9E;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    
}

.login {
    width: 250px;
    height: 50px;
    
    
    margin-bottom: 20px;
    
    letter-spacing: 0.2em;
    color: #FFFFFF;
    background: #008B9E;
    transition: background 1s, color 1s;
    position: absolute;
    left: calc(50% - 250px/2 - 0.5px);
    top: calc(50% - 50px/2 + 73.5px);
    background: rgba(0, 139, 158, 0.65);
    border: 1px solid rgba(0, 0, 0, 0.28);
    box-sizing: border-box;
    border-radius: 50px;
}

.login:hover {
  background: rgba(231, 76, 60, 0.65);
  color: #FFFFFF;
  cursor: pointer;
}

.fb {
    background: #3a5a98;
    color: white;
    position: absolute;
    width: 250px;
    height: 42.9px;
    left: calc(50% - 250px/2 + 0.5px);
    top: calc(50% - 42.9px/2 + 176.45px);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.28);
    border-radius: 50px;
    opacity: 0.8;
    transition: opacity 0.3s;
    
}

.g {
    background: #dc4437;
    color: white;
    position: absolute;
    width: 250px;
    height: 43.77px;
    left: calc(50% - 250px/2 + 0.5px);
    top: calc(50% - 43.77px/2 + 228.88px);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.28);
    opacity: 0.8;
    transition: opacity 0.3s;
    
}
button:focus {
  outline: none;
}

/*registration*/

#registration { 
    background: rgb(2,0,36);
    background: -webkit-linear-gradient(bottom, rgba(2,0,36,1) 0%, rgba(152,203,143,1) 70%);
    background: -o-linear-gradient(bottom, rgba(2,0,36,1) 0%, rgba(152,203,143,1) 70%);
    background: linear-gradient(to top, rgba(2,0,36,1) 0%, rgba(152,203,143,1) 70%);
}

label {
    position: absolute;
    text-align: center;
    width: 158px;
    height: 24px;
    left: calc(50% - 158px/2);
    top: calc(50% - 24px/2 - 174px);

    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 18px;

    color: #FFFFFF;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
}

.form {
    display:table-cell;
    left: calc(50% - 250px/2 + 0.5px);
    padding-top: calc(50% - 50px/2 - 105.5px);
    
    
}

#txtEmailRegistration {
    position: absolute;
    background: rgba(255, 255, 255, 0.43);
    border-radius: 50px;
    border: none;
    transition: opacity 0.3s;
    width: 220px;
    height: 50px;
    left: calc(50% - 250px/2 + 0.5px);
    top: calc(50% - 50px/2 - 105.5px);
    padding-left: 30px;
    color: #FFFFFF;
}


#txtPasswordRegistration {
    position: absolute;
    background: rgba(255, 255, 255, 0.43);
    border-radius: 50px;
    border: none;
    transition: opacity 0.3s;
    width: 220px;
    height: 50px;
    left: calc(50% - 250px/2 + 0.5px);
    top: calc(50% - 50px/2 - 43.5px);
    padding-left: 30px;
    color: #FFFFFF;
}

#txtPasswordConfirmRegistration {
    position: absolute;
    background: rgba(255, 255, 255, 0.43);
    border-radius: 50px;
    border: none;
    transition: opacity 0.3s;
    width: 220px;
    height: 50px;
    left: calc(50% - 250px/2 + 0.5px);
    top: calc(50% - 50px/2 + 18.5px);
    padding-left: 30px;
    color: #FFFFFF;
}

#btnSignUp {
    position: absolute;
    width: 250px;
    height: 50px;
    left: calc(50% - 250px/2 - 0.5px);
    top: calc(50% - 50px/2 + 80.5px);

    background: #DF5765;
    border: 1px solid rgba(0, 0, 0, 0.28);
    box-sizing: border-box;
    border-radius: 50px;
    font-size: 18px;
    text-align: center;

    color: #FFFFFF;
}
/*gdzieś uciekły*/
.input-icon {
    position: relative;
    color: white;
    left: calc(50% - 230px/2 - 0.5px);
    top: calc(50% - 50px/2 - 105.5px); /*jeszcze cza od góry wymyślić*/
    margin-bottom: 43px;
    vertical-align: middle;
    display:table-cell;

}

/*hamburger*/
.navbar {
    background-color: #7ECC71;
    width: 100%;
    height:51px;
    
}

#main, #wardrobe-cats, #clothes, #liamneeson, 
#lottery, #favs-all, #fav-set, #weather {
    background-color: #EBEBEB;
}

.menu {
  list-style: none;
  line-height: 42px;
  margin: auto;
  /*outline: 1px solid red;*/
  padding-left: 0;
  width: 15em;
    
}

.menu a {
  color: white;
  text-decoration: none;
  display: block;
  padding-left: 3em;
  width: 80%;
    
}

.menu a:hover {
  margin-left: 1em;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.menu a:visited {
    color: white;
}

.menu li {
  margin-bottom: 5px;
  padding-left: .5em;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;/*outline: 1px solid green*/
    
}

/*FIN MENU*/
/*Posicion Responsive Menu*/

.nav {
  background: rgba(126, 204, 113, 0.77);
  padding-right: .25em;
  position: absolute;
  left: -18em;
  top: 0;
  padding-top: 5em;
  box-sizing: border-box;
  z-index: 20;
  height: 100%;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    
}

.nav.active { left: 0; }

#mobile-nav {
    background: #62B553;
    position: absolute;
    width: 30px;
    z-index: 30;
    font-size: 33px;
    padding-left: 10px; 
    padding-top: 1.1%;
    color: white;
    padding-bottom: 4px;
    padding-right: 10px;
    
}

.menu span.fa-li {
    float: left;
    position: relative;
    left: 12px;
    color: white;
    top: -1px;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    
}

/*corner buttons*/

.btn {
    
    border: none;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    color: white;
}

.btn-war, .btn-slide {
    
    position: fixed;
    background: #2F80ED;
    width: 60px;
    height: 60px;
    left: calc(50% - 20px/2 + 115px);
    bottom: calc(50% - 1200px/2 + 303px);
    font-size: 36px;
    text-align: center;
    
} 
/*
#buttons {
    display: none;
    
}*/

.dropup > #btnFloatingAction > li {
    list-style-type: none;
    margin: 10px;
}

.btn-pic {
    background-color: #E8CB74;
    width: 45px;
    height: 45px;
    font-size: 20px;
}

.btn-gal {
    background-color: #E6828C;
    width: 45px;
    height: 45px;
    font-size: 20px;
}

#btnFloatingAction
{
    position:fixed;
    width: 70px;
    height: 110px;
    border: none;
    bottom: 60px;
    left: calc(50% - 25px/2 + 119.5px);
    display:none;
    padding: 3px;
    
}

/*menu-wardrobe*/
.menu-wardrobe {
    line-height: normal;
    font-size: 13px;
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 50px;
    overflow: auto;
    text-align: left;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

img.myWardrobe {
    margin:20px;
}

/*categories*/
p {
    position: absolute;
    width: 241px;
    height: 32px;
    left: 10px;
    top: 65px;

    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 18px;

    color: #786D6D;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.cat1 {
    position: absolute;
    width: 109px;
    height: 38px;
    left: 54px;
    top: 136px;
}

.cat2 {
    position: absolute;
    width: 109px;
    height: 37px;
    left: 221px;
    top: 136px;
}

.cat3 {
    position: absolute;
    width: 109px;
    height: 40px;
    left: 55px;
    top: 320px;
}

.cat4 {
    position: absolute;
    width: 109px;
    height: 24px;
    left: 216px;
    top: 311px;

}

.cat5 {
    position: absolute;
    width: 109px;
    height: 24px;
    left: 59px;
    top: 524px;
}

.cat6 {
    position: absolute;
    width: 109px;
    height: 53px;
    left: 206px;
    top: 514px;	
}

.wear {
    line-height: normal;
    font-size: 14px;
    text-align: center;
    color: #786D6D;
}

